

body {
    background-color: #edede9;
    margin: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.loader{
    display: none;
}
#wybraneMiasto {
    display:flex;
    text-align: center;
}
.prognozy {
    display: flex;
    flex-direction: row; 
    height: auto;
    width: auto;
}

.pogodaAktualna {
    text-align: center;
    border: 
    
}
.pogodaJutro{
    text-align: center;
}

.obrazek {
    height: auto;
    max-width: 100%;
    display: block;
}

.prognoza {
        
        text-align: left;
        
  }
 